:root{
    --color-first: #F25A70;
    --color-second: #7c5e99;
    --color-third: #ffffff;

    --color-black-first: #000;
    --color-sucess: #62c370;
    --color-error: #ba1f33;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--color-second);
    color: var(--color-third);
}

input{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px; 
    border-radius: 0px;
    border: 4px solid var(--color-black-first);
    height: 50px;
    width: 340px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}


button{
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    width: 340px;
    height: 50px;
    background-color: var(--color-first);
    color: var(--color-third);
    border: 0;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
    box-shadow: 4px 4px 0 var(--color-black-first);
    margin-bottom: 40px;
}

p{
    color: var(--color-sucess);
}

button:hover{
    transform: scale(1.05);
}

img{
    width: 40%;
    margin-left: 85px;;
}